@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom globals */
html, body, #__next { height: 100%; }
body { @apply bg-gradient-to-b from-indigo-50 via-white to-pink-50; }
.card { @apply bg-white/90 rounded-2xl shadow-lg p-4; }
/* Hello */